nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f9f9f9;
}


nav {
    position: absolute;
    right: 5vw;
}
menu a {
    color: #ffeee8;
    margin-left:30px;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
menu a:hover{
    /*font-size: 15px;*/
    color: #DCD7C9;
}

nav li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;

}

nav li a:hover {
    background-color: #ddd;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color:#2C3639;
    overflow-x: hidden;
    overflow-y: scroll;
}

header {
    margin: 0;
    /*width: 100vw;*/
    background-color: #3F4E4F;
    display: flex;
    align-items: center;
    padding: 30px 20px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    font-family: 'Open Sans', sans-serif;
}
.backgroundImage{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.mainSection{
    width: 100vw;
    height: 100vh;
    position: relative;
}

#mainPage .name1 {

    position: absolute;
    font-size: 70px;
    color: #A27B5C;
    left: 130px;
    top: 450px;
}


.social-media{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.social-media img{
    width: 40px;
}

.social-media figure img{
    margin-right: 20px;
    transition: all 0.5s ease;
}

/*.social-media:hover
{
    transform: scale(1.05);
}*/

#mainPage .name2{
    position: absolute;
    font-size: 70px;
    left: 175px;
    top:520px;
    color: #A27B5C;

}
#About .nameAbout{
    position: relative;
    font-size: 40px;
    left: 100px;
    top: 50px ;
    color: #DCD7C9;
}
.profileImg {
    position: absolute;
    border-radius: 50%;
    height: 500px;
    left: 80px;
    top: 20px;
    margin: auto;
}
.gitHubImg{
    position: absolute;
    border-radius: 100%;
    height: 86px;
    width: 86px;
    left: 679px;
    top: 251px;
    margin: auto;

    transition: all 0.5s ease;
}

.gitHubImg:hover{
    transform: scale(2.0);
    cursor: pointer;
    background-color: #b2d984;
}

.whiteCircleGitHub{
    position: absolute;
    border-radius: 100%;
    width: 89px;
    height: 89px;
    left: 678px;
    top: 250px;
    margin: auto;
    background: white;
    transition: all 0.5s ease;

}
.whiteCircleGitHub:hover{
    background-color: #d23f3f;
}

.facebookImg{
    position: absolute;
    border-radius: 100%;
    height: 85px;
    width: 85px;
    left: 910px;
    top: 253px;
    margin: auto;
}
.whiteCircleFB{
    position: absolute;
    border-radius: 100%;
    width: 89px;
    height: 89px;
    left: 908px;
    top: 251px;
    margin: auto;
    background: white;
}
.twitterImage{
    position: absolute;
    border-radius: 100%;
    height: 85px;
    width:85px;
    left: 1144px;
    top: 252px;
    margin: auto;
}
.whiteCircleTwitter {
    position: absolute;
    border-radius: 100%;
    width: 89px;
    height: 89px;
    left: 1142px;
    top: 250px;
    margin: auto;
    background: white;
}

.linkedInImg{
    position: absolute;
    border-radius: 100%;
    height: 85px;
    width: 85px;
    left: 679px;
    top: 422px;
    margin: auto;
}

.whiteCircleLinkedIn{
    position: absolute;
    border-radius: 100%;
    width: 89px;
    height: 89px;
    left: 677px;
    top: 420px;
    margin: auto;
    background: white;
}
.instergramImg{
    position: absolute;
    border-radius: 100%;
    height: 85px;
    width: 85px;
    left: 911px;
    top: 422px;
    margin: auto;
}
.whiteCircleInstergram{
    position: absolute;
    border-radius: 100%;
    width: 89px;
    height: 89px;
    left: 908px;
    top: 420px;
    margin: auto;
    background: white;
}
.whatsappImage{
    position: absolute;
    border-radius: 100%;
    height: 85px;
    width: 85px;
    left: 1144px;
    top: 420px;
    margin: auto;
}
.whiteCircleWhatsApp{
    position: absolute;
    border-radius: 100%;
    width: 89px;
    height: 89px;
    left: 1141px;
    top: 418px;
    margin: auto;
    background: white;
}

.square1{
    position: absolute;
    width: 1311px;
    height: 10px;
    left: 20px;
    top: 950px;
    margin: auto;
    background: brown;
}
.square2{
    position: absolute;
    width: 10px;
    height: 600px;
    left: 1321px;
    top: 950px;
    margin: auto;
    background: brown;
}
.square3{
    position: absolute;
    width: 10px;
    height: 600px;
    left: 20px;
    top: 950px;
    margin: auto;
    background: brown;
}
.square4{
    position: absolute;
    width: 1311px;
    height: 10px;
    left: 20px;
    top: 1525px;
    margin: auto;
    background: brown;
}
/*.blackSquare{
    position: absolute;
    width: 750px;
    height: 750px;
    left: 150px;
    top: 150px;
    margin: auto;
    background: brown;
}*/
.mainSection .shadow{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

#About{
  /*  border: 2px solid red;*/
    box-shadow: 0 0 10px rgba(48, 46,0.15);
}



#DetailArticle{
    position: relative;
    font-size: 25px;
    left: 75px;
    top:120px;
    color: white;
}
#DetailArticle2{
    position: absolute;
    font-size: 25px;
    left: 450px;
    top:25vh;
    color: white;
    border: 2px solid red
}
#Skills{
    width: 100vw;
    height: 100vh;
}


.skill-bars {
    list-style: none;
    margin: 0;
    padding: 0;
}

.skill-bars li {
    margin-bottom: 6.3%;
    padding: 0;
    position: relative;
}

.skill-bars li strong {
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    display: block;
    margin-bottom: 5px;
}

.skill-bars li .progress {

    height: 20px;
    width: 50%;
    border-radius: 100vw;
    background: #DCD7C9;
    top: 40px;
    position: relative;
    left: 400px;
}

.skill-bars li .progress span {
    display: block;
    height: 100%;
    border-radius: 100vw;
    font-size: 0.6vw;
    left: -1%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.skill-bars li .progress.percent80 span {
    width: 80%;
    background: #A27B5C;
}

.skill-bars li .progress.percent90 span {
    width: 90%;
    background: #A27B5C;
}

.skill-bars li .progress.percent85 span {
    width: 85%;
    background: #A27B5C;
}

.skill-bars li .progress.percent83 span {
    width: 83%;
    background: #A27B5C;
}

.skill-bars li .progress.percent75 span {
    width: 75%;
    background: #A27B5C;
}
#Skills .p1{

    position: relative;
    font-size: 20px;
    color: white;
    left: 400px;
    top: 10px;
}

.javaPng{
    position: absolute;
    height: 100px;
   /* width: 150px;*/
    left: 200px;
    top:74px;
    margin: auto;
}
.mySqlPng{
    position: absolute;
    height:100px;
    left: 213px;
    top:187px;
    margin: auto;
}
.cssPng{
    position: absolute;
    height: 83px;
    left: 219px;
    top:320px;
    margin: auto;
}
.htmlPng{
    position: absolute;
    height: 83px;
    left: 219px;
    top:425px;
    margin: auto;
}


#Project .p1 {

    position: relative;
    font-size: 20px;
    color: white;
    left: 180px;
    top: 310px;
}
.gaganaInvestmentImg{
    position: absolute;
    height: 250px;
    width: 350px;
    left: 200px;
    top:0;
    margin: auto;
}
#Project .p2 {

    position: relative;
    font-size: 20px;
    color: white;
    left: 780px;
    top: 270px;
}
.hostelManagementImg{
    position: absolute;
    height: 250px;
    width: 350px;
    left: 800px;
    top:0;
    margin: auto;
}

#Activities .p{

    position: relative;
    font-size: 40px;
    color: white;
    left: 20px;
    top: 0;
}
.toolImg{
    position: absolute;
    border-radius: 100%;
    height: 500px;
    width: 500px;
    left: 100px;
    top:50px;
    margin: auto;
}
#Contact .call{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
    font-size: 25px;
    color: #3FD289;
}
#Contact .number{
    position: absolute;
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
    font-size: 25px;
    color: #3FD289;
    top: 50px;
    left: 105px;
}
#Contact .whatsapp{
    position: absolute;
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
    font-size: 25px;
    color: #3FD289;
    left: 450px;
    top: 0;
}
#Contact .whatsappNumber{
    position: absolute;
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
    font-size: 25px;
    color: #3FD289;
    top: 50px;
    left: -10px;
}
#Contact .email{
    position: absolute;
    margin-bottom: 60px;
    font-size: 25px;
    color: #3FD289;
    left: 720px;
    top: 0;
}
#Contact .emailAddress{
    position: absolute;
    margin-bottom: 60px;
    font-size: 25px;
    color: #3FD289;
    top: 50px;
    left: -75px;
}
#Contact .location{
    position: absolute;
    margin-bottom: 60px;
    font-size: 25px;
    color: #3FD289;
    left: 1000px;
    top: 0;
}
#Contact .locationGalle{
    position: absolute;
    margin-bottom: 60px;
    font-size: 25px;
    color: #3FD289;
    top: 50px;
    left: 10px;
}